body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

header {
  background-color: #ff5e5e;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

nav button {
  background-color: #fff;
  color: #ff5e5e;
  border: 2px solid #ff5e5e;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

nav button:hover {
  background-color: #ff5e5e;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.tagline {
  text-align: center;
  margin-bottom: 20px;
}

.tagline h2 {
  font-size: 50px;
  margin: 0;
}

.tagline p {
  font-size: 1.2rem;
  color: #555;
}

.main-button {
  background-color: #ff5e5e;
  color: white;
  border: none;
  padding: 20px 40px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

.main-button:hover {
  background-color: #e55555;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}
